#sidebar {
  position: fixed;
  padding: 10px;

  /* change this to move based on window shape */
  top: 0;
  left: 0;

  background:#F6F6F6;
  height:100%;
  overflow-y: scroll;
  border-radius: 5px;
  box-shadow: 0 0 100px 1px rgb(160, 160, 160);
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#sidebar::-webkit-scrollbar {
  display: none;
}