#SideTab { /* why is this an ID */
  width : 100%;
  height:100%;
  background:#ffffff;
  top: 50px;
  padding : 15px;
  margin-top: 20px;
  border : solid #D8DCE1 1px;
  border-radius: 3px;
  overflow-y: hidden;
  overflow-x: hidden;
  }

.close-btn {
  font-weight: bold; 
  margin-left: 91%;
}

.wiki-iframe {
  width: 100%;
  height: 100%;
  border: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.preclick-message {
  text-align:center;
  margin-top: 40%;
}