#SideTab { /* why is this an ID */
  width : 100%;
  max-height:100%;
  background:#F6F6F6;
  top: 50px;
  padding : 15px;
  margin-top: 7px;
  border : solid #A7D7F9 1px;
  border-radius: 3px;
  overflow-x: hidden;
  }

.close-btn {
  font-weight: bold; 
  margin-left: 91%;
}