#sidebar {
    margin-top: 5px;
    margin-left: 5px;
    position: fixed;
    padding: 7px;

    /* change this to move based on window shape */
    top: 0;
    left: 0;
    z-index: 2;
    background:#F6F6F6;
    max-height:100%;
    overflow-y: scroll;

    box-shadow: 7px 7px rgba(128, 128, 128, 0.2);;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

#sidebar::-webkit-scrollbar {
    display: none;
}

#graph { 
		z-index: 1; /* You should virtually never use z-index - it's hacky as fuck (legit use cases should be commented) */
}